/* Scroll Bar */
/* Width */
::-webkit-scrollbar {
  width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}
/* END Scroll Bar */
.container-tape-player {
width: 100%;
height: 100vh;
}
.container-video-controls, .container-playlist {
  float: left;
}
.container-video-controls {
  width: 160vh;
  height: 100vh;
  position: relative;
}
.container-video {
  background-color: #000;
  width: 160vh;
  height: 90vh;
}
.container-controls {
  width: 160vh;
  height: 10vh;
  background-color: #000;
}
.player-progress {
  width: 160vh;
  height: 8px;
}
.progress-bar {
  height: 8px;
}
.container-buttons {
  width: 160vh;
  height: calc(10vh - 8px);
  padding: 1vh 0;
}
.btn, .container-player-volume {
  float: left;
  margin-left: 1vh;
}
.fullscreen-button {
  float: right;
  margin-right: 1vh;
}
.player-info {
  position: absolute;
  bottom: 10vh;
  left: 0;
  z-index: 20;
  color: #fff;
  font-size: 1.8rem;
}
/* Playlist */
.container-playlist {
  width: calc(100vw - 160vh);
}
@-moz-document url-prefix() {
  input[type="range"] {
    margin: 0;
  }
  .container-playlist {
    width: calc(100vw - 160vh - 13px);
  }
}
.playlist {
  margin: 0;
  overflow-y: auto;
  height: 100vh;
}
.playlist::-webkit-scrollbar {
  width: 10px;
}
.playlist, .playlist-element, .tile {
  width: 100%;
}
.playlist-element {
  height: 25vh;
}
.tile {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.description {
  display: none;
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: rgba(10, 10, 10, 0.6);
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
}
.tile:hover .description {
  display: block;
}
.current-play {
  ;
}
